@model fin_api.Models.Transacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecurring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecorrenciaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecorrenciaType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecorrenciaEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecorrenciaEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelaAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelaAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTransaction.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParcelaRecorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParcelaRecorrente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
